# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# 類型提示文件
*.pyi

# 圖片資料夾
images/

# auto-py-to-exe output
output/

# VS Code 設定
.vscode/

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS / Windows
.DS_Store
Thumbs.db
